name: linux

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build-ubuntu-qt5:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install packages
      run: |
        sudo apt update && sudo apt install -y qtbase5-dev libqt5charts5-dev libgl1-mesa-dev libglm-dev libeigen3-dev build-essential cmake
    - name: Apply patch
      run: patch -p1 CMakeLists.txt < qt5.patch
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..
    - name: Build
      run: |
        cd build
        make -j